.all-products-div {
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

.cat-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.filter-div {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-self: center;
}

.search-div {

  width: fit-content;
  align-items: center;
}

#search {
  padding: 0.4rem;
  margin-left: 0.5rem;
  box-shadow: 0 0 10px rgba(155, 155, 160, 0.778);
  border: none;
  width: 15rem;
}

#sort-price {
  padding: 0.4rem;
  box-shadow: 0 0 10px rgba(155, 155, 160, 0.778);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.catagory {
  display: flex;
  justify-content: space-between;
  width: 530px;
}

.cat-button {
  width: 6rem;
  padding: 0.4rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(155, 155, 160, 0.778);
  transition: all 0.2s ease;
}

.cat-button:hover,
.active-button {
  background-color: rgba(155, 155, 160, 0.633);
  cursor: pointer;
}

.loading {
  margin: 2rem;
}
